.pi-gr {
  background: red;
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pi-gr .pi-gr-content {
  overflow: hidden;
  background: black;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pi-gr .pi-gr-content .pi-gr-hd {
  position: relative;
  left: 0;
  display: -webkit-row;
  display: -moz-row;
  display: -ms-rowbox;
  display: -ms-row;
  display: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #eeeeee;
  color: #fff;
  width: 10000px;
}
.pi-gr .pi-gr-content .pi-gr-hd .pi-gr-col {
  word-wrap: break-word;
  vertical-align: top;
  display: inline-block;
  width: 50px;
  padding-left: 4px;
  padding-right: 4px;
  border-right: solid 1px #dedede;
}
.pi-gr .pi-gr-content .pi-gr-bd {
  background: #fff;
  overflow: auto;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.pi-gr .pi-gr-content .pi-gr-bd .pi-grid-row {
  width: 100%;
  cursor: pointer;
  height: 30px;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.pi-gr .pi-gr-content .pi-gr-bd .pi-grid-row:hover {
  background: #f9f9f9;
}
.pi-gr .pi-gr-content .pi-gr-bd .pi-grid-cell {
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  width: 50px;
  line-height: 30px;
  border-bottom: solid 1px #dedede;
  padding-left: 4px;
  padding-right: 4px;
  border-right: solid 1px #dedede;
}
.pi-gr .pi-gr-ft {
  padding-left: 4px;
  padding-right: 4px;
  min-height: 30px;
  background: #dedede;
}
